# maven ignore
target/
*.versionsBackup
.factorypath

# eclipse ignore
.settings/
.project
.classpath
*rebel.xml

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# system ignore
.DS_Store
Thumbs.db

.vscode

# dev properties
src/main/resources/application-dev.yml
src/main/resources/application-remote.yml
src/main/java/org/hzero/iam/config/HiamExtraDataManager.java

init-local-database-dev.sh